<style type="text/css">
.tabela
{
  margin: 0px auto; 
}
td
{
  padding: 2px 5px;
  text-align: center;
}
#botoes
{
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-bottom: 30px;
}
.botoes_footer
{
  width: auto;

}
a:link
{
  text-decoration: none;
}
button
{
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-family: "arial";
  font-weight: bold;
}
.centro
{
  text-align: center;
  margin: 40px auto 40px auto;
}
.tabela-container {
  width: 80%;
 margin: 0 auto;
}
h1{
  margin:40px auto;
}
.no-decoration{
text-decoration: none;
}
.botoes_observacoes
{
  width: auto;
  height: 20px;
  margin: 0px auto;
  margin-bottom: 10px;
}
