<style type="text/css">
.container
{
  font-family: "tahoma";
  margin: 0px;
  padding: 0px;
}
.centro
{
  text-align: center;
  margin: 40px auto 40px auto;
}
table, tr, td, th
{
  border-radius: 6px;
  height: 40px;
}

button
{
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-family: "arial";
  font-weight: bold;
}
input, select
{
  width: 99%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  text-align-last: center;
}
#botoes
{
  width: 90%;
  height: 40px;
  margin: 0px auto;
}
.botoes_footer
{
  width: auto;

}
a:link
{
  text-decoration: none;
}
.tabela-container {
 width: 100%;
 margin: 0 auto;
}

</style>